body{
	background-color:#34495E; 
}
.bg{
	background:#285E8E;
	border: white solid 5px ;
	width: 500px;
	height: 320px;
	border-radius: 10px;
	margin-top: 150px;
}
.login-input-area{
	width: 400px;
}
.login-button{
	height: 100px;
	width: 300px;
	position:relative;
	left: 100px;
	}
	
